version: '3.3'

services:
  evolution-api:
    image: atendai/evolution-api:latest
    container_name: evolution_api
    restart: always
    ports:
      - "8082:8080"
    environment:
      - SERVER_PORT=8080
      - AUTHENTICATION_API_KEY=429683C4C977415CAAFCCE10F7D57E11
      - SERVER_URL=http://localhost:8082
      - DATABASE_ENABLED=true
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://postgres:postgres@172.28.0.5:5432/evolution
      - DATABASE_CLIENT_NAME=evolution_exchange
      # Se quiser usar banco para a API, mude para true e configure abaixo
      # - DATABASE_CONNECTION_URI=postgresql://postgres:postgres@postgres:5432/evolution
      # - DATABASE_CLIENT_NAME=evolution_exchange
    volumes:
      - evolution_instances:/evolution/instances
      - evolution_store:/evolution/store

volumes:
  evolution_instances:
  evolution_store:
