[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["cd apps/backend && npm install"]

[phases.build]
cmds = ["cd apps/backend && npm run build"]

[start]
cmd = "cd apps/backend && npm run start:prod"
